@import "../../abstract";

.align_profile_page{
    justify-content: center;
    width: 80%;
    margin: auto;
    overflow-x: hidden;
}
.curly_border{
    border: 2px solid #d9d9d9;
    border-radius: 1%;
}
.align_content_center{
    margin: auto;
    width: 80%;
}
.padding_top{
    padding-top: 3%;
}
.padding_bottom{
    padding-top: 3%;
}
.padding_scroll{
    scroll-margin-top: 100px
}
.justify__center{
    justify-content: center;
}
.header_align{
    width: 90%;
    margin: auto;
}