@import "../../../../../../abstract";

.btn--color{
    background-color: $color-primary;
    color: white;
}
.btn--color:hover {
    color: $color-second-primary;
    background-color: $color-third-primary;
    border-color: $color-second-primary;
    border-width: 2px;
    border-style: solid;
  }
.padding_top{
    padding-top: 3%;
}
.align_progress_content{
    position: relative;
    text-align: center;
}
.book_name_font{
    font-size: 150%;
    font-weight: bold;
}
.center_content{
    justify-content: center;
}
// .ant-progress-text{
//     position: relative !important;
//     top:-65px !important;
// }